<header>
  <span>
    <a routerLink="/" routerLinkActive="Active">
      <img class="logo" src="assets/images/logo.png">
    </a>
  </span>
  <h1 class="title">{{title | uppercase}}</h1>
  <div *ngIf="userLoggedIn" class="login-info">Logged in as {{userLoggedIn.email}} ({{userLoggedIn.type}})
  </div>
  <nav>
    <span class="menu-item" *ngIf="userLoggedIn === undefined">
      <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    </span>
    <span class="menu-item" *ngIf="userLoggedIn === undefined">
      <a routerLink="/auth/register" routerLinkActive="active">Register</a>
    </span>
    <span class="menu-item" *ngIf="userLoggedIn !== undefined">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </span>
    <span class="menu-item" *ngIf="userLoggedIn !== undefined && userLoggedIn.type == 'company'">
      <a routerLink="/activities/admin" routerLinkActive="active">Admin</a>
    </span>
    <span class="menu-item" *ngIf="userLoggedIn !== undefined && userLoggedIn.type == 'tourist'">
      <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
    </span>
    <span class="menu-item" *ngIf="userLoggedIn !== undefined && userLoggedIn.type == 'tourist'">
      <a routerLink="/myactivities" routerLinkActive="active">My activities</a>
    </span>
    <span class="menu-item" *ngIf="userLoggedIn !== undefined">
      <a routerLink="/user/profile" routerLinkActive="active">Profile</a>
    </span>
    <span class="menu-item" *ngIf="userLoggedIn !== undefined">
      <a routerLink="/auth/logout" routerLinkActive="active">Logout</a>
    </span>

  </nav>
</header>