<div>
    <h2 class="section-title">{{title}}</h2>
    <div class="activity-content" *ngIf="activities">
        <div class="activity-header activity-row" *ngIf="activities.length != 0">
            <span class="activity-header-item">NAME</span>
            <span class="activity-header-item">CATEGORY</span>
            <span class="activity-header-item">SUBCATEGORY</span>
            <span class="activity-header-item">DESCRIPTION</span>
            <span class="activity-header-item">LANGUAGE</span>
            <span class="activity-header-item">DATE</span>
            <span class="activity-header-item">PRICE</span>
            <span class="activity-header-item">MINIUM CAPACITY</span>
            <span class="activity-header-item">MAXIUM CAPACITY</span>
            <span class="activity-header-item">STATUS</span>
            <span class="activity-header-item">ACTIONS</span>

        </div>
        <div class="activity-row" *ngIf="activities.length == 0">
            No activities to show at the moment...
        </div>
        <div class="activity-row" *ngFor="let ac of activities;let i=index">
            <span class="activity-item">{{ac.name}}</span>
            <span class="activity-item">{{ac.category}}</span>
            <span class="activity-item">{{ac.subcategory}}</span>
            <span class="activity-item">{{ac.description}}</span>
            <span class="activity-item">{{ac.language}}</span>
            <span class="activity-item">{{ac.date}}</span>
            <span class="activity-item">{{ac.price}}</span>
            <span class="activity-item">{{ac.miniumCapacity}}</span>
            <span class="activity-item">{{ac.maxCapacity}}</span>
            <span class="activity-item">{{ac.state}}</span>
            <span class="activity-item">
                <a class="update-activity-link" [routerLink]="" (click)="updateActivity(ac.id)">
                    <span class="material-icons edit">
                        edit
                    </span>
                </a>
                <a class="delete-activity-link" [routerLink]="" (click)="deleteActivity(ac.id)">
                    <span class="material-icons delete">
                        delete
                    </span>
                </a>
            </span>
        </div>


    </div>
    <div class="activity-new-button-container">
        <button class="activity-new-button" type="submit" (click)="createActivity()">
            New Activity
        </button>
    </div>
</div>